<p class="u-spacer--tiny">
  Voeg <strong>{{info.plainValue}}</strong> als
   <br> <strong>{{info.rdfaProperty.label}}</strong> in.
</p>

{{#wu-button-group}}
  {{wu-button
    label="voeg toe"
    size="small"
    isNarrow=true
    onClick=(action "insert" info)
  }}
{{/wu-button-group}}

{{yield}}
